* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
}

body {
    max-width: 414px;
    margin-inline: auto;
    background-color: #E0E0E0;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.root {
    background-color: #fff;
    min-height: 100vh;
}